<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temp.common.mapper.ConfigureMapper" >

    <resultMap id="BaseResultMap" type="com.temp.common.model.entity.Configure" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="value" property="value" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, value, description, create_at, update_at
    </sql>

    <select id="queryList" resultMap="BaseResultMap" parameterType="com.temp.common.model.entity.Configure">
        SELECT
        <include refid="Base_Column_List" />
        FROM configure
        <where>
            <if test="id != null" >
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null" >
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="value != null" >
                AND value = #{value,jdbcType=VARCHAR}
            </if>
            <if test="description != null" >
                AND description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="createAt != null" >
                AND create_at = #{createAt,jdbcType=TIMESTAMP}
            </if>
            <if test="updateAt != null" >
                AND update_at = #{updateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="queryPageList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM configure
        <where>
            <if test="configure.id != null" >
                AND id = #{configure.id,jdbcType=INTEGER}
            </if>
            <if test="configure.name != null" >
                AND name = #{configure.name,jdbcType=VARCHAR}
            </if>
            <if test="configure.value != null" >
                AND value = #{configure.value,jdbcType=VARCHAR}
            </if>
            <if test="configure.description != null" >
                AND description = #{configure.description,jdbcType=VARCHAR}
            </if>
            <if test="configure.createAt != null" >
                AND create_at = #{configure.createAt,jdbcType=TIMESTAMP}
            </if>
            <if test="configure.updateAt != null" >
                AND update_at = #{configure.updateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY id DESC LIMIT ${(page - 1) * size}, ${size}
    </select>

    <select id="queryCount" resultType="java.lang.Integer" parameterType="com.temp.common.model.entity.Configure">
        SELECT COUNT(*) FROM configure
        <where>
            <if test="id != null" >
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null" >
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="value != null" >
                AND value = #{value,jdbcType=VARCHAR}
            </if>
            <if test="description != null" >
                AND description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="createAt != null" >
                AND create_at = #{createAt,jdbcType=TIMESTAMP}
            </if>
            <if test="updateAt != null" >
                AND update_at = #{updateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <select id="queryOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT
        <include refid="Base_Column_List" />
        FROM configure
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="queryListByNames" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM configure
        WHERE name IN
        <foreach item="item" index="index" collection="names" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="delete" parameterType="java.lang.Integer" >
        DELETE FROM configure
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="add" parameterType="com.temp.common.model.entity.Configure" >
        INSERT INTO configure
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="value != null" >
                value,
            </if>
            <if test="description != null" >
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.temp.common.model.entity.Configure" >
        update configure
        <set>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                value = #{value,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>